/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');*/
@import url("/public/fonts/lato/stylesheet.css");


:root {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #181818;
}

body {
  margin: 0;
  padding: 0;
  /*display: flex;
  min-width: 320px;
  min-height: 100vh;*/
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-simibold {
  font-family: 'Lato';
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 350px) {
  * {
    font-size: 8px;
  }

  .advertisement {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 600px) {
  * {
    font-size: 16px;
  }

  .advertisement {
    display: block;
  }
}

@media (min-width: 1024px) {
  * {
    font-size: 14px;
  }

  .form-search {
    width: 22rem;
  }

  .block-heading {
    left: 35%;
  }

  .img-camp-card {
    height: 4.28rem;
    width: 4.28rem;
  }

  .btn-card-details {
    width: 15rem;
  }

  .img-back {
    content: url('../public/imgBack2.png');
  }

  .imgAdvertisment {
    width: 20rem;
    height: 20rem;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .cardSalon {
    width: 20rem;
  }

  .col-description-2 {
    width: 12.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-name-company {
    width: 12.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .footer-main {
    padding: 2.8rem 1.7rem 1.2rem 1.7rem;
  }
}

@media (min-width: 1600px) {
  .img-back {
    content: url('../public/imgBack.png');
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .cardSalon {
    width: 25rem;
  }

  .col-description-2 {
    width: 100%;
  }

  .card-name-company {
    width: 16.3rem;
  }

  .imgAdvertisment {
    height: 22.5rem;
    width: 22.5rem;
  }

  .footer-main {
    padding: 2.5rem 8.125rem 1.125rem 8.125rem;
  }
}

@media (min-width: 1920px) {
  * {
    font-size: 16px;
  }

  .advertisement {
    display: block;
  }

  .img-back {
    content: url('../public/imgBack.png');
  }
}