/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');*/
@import url("/public/fonts/lato/stylesheet.css");


:root {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #181818;
}

body {
  margin: 0;
  padding: 0;
  /*display: flex;
  min-width: 320px;
  min-height: 100vh;*/
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-simibold {
  font-family: 'Lato';
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 350px) and (max-width: 765px) {
  * {
    font-size: 14px;
  }

  .nav-menu,
  .form-search {
    display: none;
  }

  .img-back {
    content: url('../public/imgBack4.png');
    height: 25rem;
  }

  .h1-top-page {
    font-size: 1.7rem;
    width: 20rem;
  }

  .h2-top-page {
    width: 23rem;
  }

  .block-heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-top-page {
    width: 22rem;
  }
  .nav-menu-footer {
    display: none;
  }

  .footer-main {
    padding: 2.5rem 1.3rem 1.3rem 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 14px;
  }

  .advertisement {
    display: block;
  }

  .img-back {
    content: url('../public/imgBack3.png');
  }

  .nav-menu,
  .form-search {
    display: none;
  }

  .header-main {
    justify-content: space-between;
  }

  .logo-img {
    margin-left: 1rem;
  }

  .btn-icon-head {
    margin-right: 1rem;
  }

  .advertisement {
    display: flex;
    justify-content: space-between;
  }

  .imgAdvertisment {
    width: 20rem;
    height: 20rem;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .middle-page {
    margin: 7.5rem 3%;
  }

  .nav-menu-footer {
    display: none;
  }

  .footer-main {
    padding: 2.5rem 1.3rem 1.3rem 1.8rem;
  }
}

@media (min-width: 1024px) and (max-width: 1679px) {
  * {
    font-size: 14px;
  }

  .form-search {
    width: 22rem;
  }

  .block-heading {
    left: 35%;
  }

  .img-camp-card {
    height: 4.28rem;
    width: 4.28rem;
  }

  .btn-card-details {
    width: 15rem;
  }

  .img-back {
    content: url('../public/imgBack2.png');
  }

  .imgAdvertisment {
    width: 20rem;
    height: 20rem;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .cardSalon {
    width: 20rem;
  }

  .col-description-2 {
    width: 12.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-name-company {
    width: 12.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .footer-main {
    padding: 2.8rem 1.7rem 1.2rem 1.7rem;
  }

  .advertisement {
    display: block;
  }

  .btn-icon-head {
    display: none;
  }

  .nav-menu-footer-2 {
    display: none;
  }
}

@media (min-width: 1680px) and (max-width: 1919px) {
  * {
    font-size: 16px;
  }

  .advertisement {
    display: block;
  }

  .img-back {
    content: url('../public/imgBack.png');
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .cardSalon {
    width: 25rem;
  }

  .col-description-2 {
    width: 100%;
  }

  .card-name-company {
    width: 16.3rem;
  }

  .imgAdvertisment {
    height: 22.5rem;
    width: 22.5rem;
  }

  .footer-main {
    padding: 2.5rem 8.125rem 1.125rem 8.125rem;
  }

  .btn-icon-head {
    display: none;
  }

  .card-name-company {
    width: 12.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .col-description-2 {
    width: 12.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cardSalon {
    width: 22rem;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  }

  .nav-menu-footer-2 {
    display: none;
  }
}

@media (min-width: 1920px) {
  * {
    font-size: 16px;
  }

  .advertisement {
    display: block;
  }

  .img-back {
    content: url('../public/imgBack.png');
  }

  .card-name-company {
    width: 16.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nav-menu-footer-2 {
    display: none;
  }
}